body {
	margin:0px;
	font-family: 'Open Sans', sans-serif;
}

.main {
	height:1000px;
	background-image: url(../images/homebackground.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container {
	height: 700px;
	width: 1500px;	
	margin: 0 auto;
	padding-left: 150px;
}

.header {
	margin-top: 0px;
	width: 1000px;
	margin: 0 auto;
}

.logo {
	float: left;
	margin-top:15px;}

nav {
	float: right;
	margin-top: 26px;
}

.navbar {color:white;
	font-size: 20px;
	margin-left: 25px;
	text-decoration: none;

}

.navbar:hover {
	text-decoration: underline;
}

span {
	width: 100%
}

h1 {
	font-size: 80px;
	color: white;
	text-align: center;
	clear:both;
	padding-top: 350px;
	letter-spacing: 4px;}

/*HEADER SECTION*/
#head {
	width: 100%;
	height: 350px;
	background-image: url(../images/background1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;}

.port {
	padding-top: 75px;
}

.portfolio {
	width: 300px;
	height: 300px;	
}

.padding {
	padding-right: 20px

}
.one {
	margin-top: 20px
}

.two {
	margin-top: 20px
}
.three {
	margin-top: 20px
}
.four {
	margin-top: 20px
}
.five {
	margin-top: 20px
}

/*FOOTER SECTION*/
footer {
	width: 100%;
	height: 445px;
	background-image: url(../images/footer1.jpg); 
	background-size: cover;
	margin-top: 600px;
	background-repeat: no-repeat;}


#foot {
	width: 1000px;
	height: 100%;
	margin: 0 auto;}

.icon{
	width: 50px;
	height: 50px;
}

h3 {
	color: #333
	font-weight:bold;
}

div.social{
	float: left;
	margin-top: 10px;
}

a.social{
	margin-right: 15px;
}
div.contact{
	float: right;
	margin-right: 45px;
	margin-top: 10px;}

label {
	color: #333;
}

input.text{
	height: 25px;
	width: 250px;
	border-radius: 3px;
	border:none;
	margin:0 auto;
}

textarea.message {
	height: 100px;
	width: 250px;
	border-radius: 3px;
	border:none;
}

input.submit{
	width: 60px;
	height: 30px;
	background-color: white;
	border: none;
	border-radius: 3px;
}

input.submit:hover{
	text-decoration: underline;
}

/*About me section*/
p.name{
	color: black;
	font-size: 35px;
	margin-top: 45px;
}

p.intro{
	font-size: 30px;
	margin-top: -25px;
	}